<%= form_for [@configurator, @formelement], :html => { :class => "form-horizontal configurator" } do |f| %>

  <% if @formelement.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@formelement.errors.count, "error") %> prohibited this configurator from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @formelement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :label, :class => 'control-label col-lg-3' %>
    <div class="col-lg-6">
      <%= f.text_field :label, :class => 'form-control' %>
    </div>
    <%=f.error_span(:label) %>
  </div>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-3' %>
    <div class="col-lg-6">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  
  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-lg-3' %>
    <div class="col-lg-6">
      <%= f.select :type, [:Textfield, :Selectfield, :Checkboxfield], {prompt: 'Select Type'}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:type) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-6">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                configurators_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
